{% for player in players %}{% with can_play=player.can_play %}
    <div class="player {% if not can_play %}cannot-play{% elif player.is_protected %}is-protected{% elif not player.nb_tiles %}no-tiles{% endif %}" style="--player-color: {{ player.color }}">
        <div class="player-color"></div>
        <div class="player-rank">{{ player.rank }}</div>
        <div class="player-info">
            <div class="player-name">{{ player.name }}</div>
            {% if game.config.multi_steps %}
                {% if player.can_play %}
                    <div class="player-level">Lvl {{ player.level }} ({{ player.nb_tiles }})</div>
                    <div class="player-actions-left">PA: {{ player.level_actions_left }}{% if player.banked_actions_left != "0" %}+{{ player.banked_actions_left }}{% endif %}</div>
                {% endif %}
            {% else %}
                <div class="player-nb-tiles">{{ player.nb_tiles }}</div>
                <div class="player-percent-tiles">{{ player.percent_tiles }}</div>
            {% endif %}
        </div>
        {% if not can_play %}
            <div class="player-respawn-turn">
                Prochain respawn possible au tour {{ player.next_respawn_turn }}
            </div>
        {% elif game.config.multi_steps %}
            {% if not player.nb_tiles %}
                <div class="player-no-tiles">
                    Il faut commencer sur une case grise !
                </div>
            {% else %}
                <div class="player-actions">
                    <div class="player-actions-inner">
                    {% for action in player.current_turn_actions %}
                        {% if action.state == ActionState.CREATED or action.state == ActionState.CONFIRMED %}
                        <span>
                            <strong>{{ action.type.label.0|upper }}</strong>
                            {% if action.tile_col or action.state == ActionState.CONFIRMED %}
                                ({% comment %}
                                {% endcomment %}{% if action.tile_col is not None %}{{ action.tile.for_human }}{% endif %}{% comment %}
                                {% endcomment %}{% if action.state == ActionState.CONFIRMED %}{% if action.tile_col is not None %}, {% endif %}{{ action.efficiency_for_human }}{% endif %}{% comment %}
                                {% endcomment %})
                            {% endif %}
                            {% if action.state == ActionState.CONFIRMED %}
                                <span class="ok-symbol">✔️</span>
                            {% else %}
                                <span class="ko-symbol">✖️</span>
                            {% endif %}
                        </span>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="player-extra">
                (total: {{ player.nb_games }} départ{{ player.nb_games|pluralize }},  {{ player.nb_kills }} kill{{ player.nb_kills|pluralize }}, {{ player.nb_actions }} case{{ player.nb_actions|pluralize }})
            </div>
        {% endif %}
    </div>
{% endwith %}{% endfor %}
