{% with turn_step=game.step %}
<span id="turn-number">Tour #{{ game.current_turn }}</span>
<span id="end-mode">
    {% if game.end_mode == GameEndMode.ENDLESS %}
        Partie sans fin !
    {% elif game.end_mode == GameEndMode.TURN_LIMIT %}
        Remplis au max avant le tour #{{ game.end_mode_turn }} !
    {% elif game.end_mode == GameEndMode.FULL_MAP %}
        Remplis la map pour gagner !
    {% elif game.end_mode == GameEndMode.HALF_MAP %}
        Remplis 50% de la map pour gagner !
    {% endif %}
</span>
{% if game.config.multi_steps %}
    <span id="turn-step-name"><span>&lt;&nbsp;</span>{% if game.ended_at %}Partie terminée{% else %}{{ turn_step.label }}{% endif %}<span>&nbsp;&gt;</span></span>
        {% if turn_step == GameStep.WAITING_FOR_PLAYERS or turn_step == GameStep.COLLECTING_ACTIONS %}
            <span id="turn-step-time">
                {% with time_left=game.step_time_left_for_human %}
                    {% if time_left is None %}
                        Pause pour latence, ne cliquez plus !
                    {% else %}
                        Temps restant: {{ time_left }}
                    {% endif %}
                {% endwith %}
            </span>
        {% endif %}
{% endif %}
{% endwith %}
