<html>
    <head>
        <title>Hexpocalypse Later</title>
        <link rel="stylesheet" type="text/css" href="/statics/style.css">
    </head>
    <body>
        <div id="main-container">
            <div id="empty-top"></div>
            <div id="top-bar">
                <div>
                    <p>Joue à <strong><em style="color: #ae15c8;">Hexpocalypse Later</em></strong>, un jeu de conquête de territoire, SUR CE STREAM (📵)</p>
                    <p>Suis les instructions a droite (ou <strong>!game</strong> dans le chat) puis clique ci-dessous (les délais sont normaux!).</p>
                </div>
                <p class="extension">
                    <img width="50" height="50" src="/statics/extension-heat.png" style="grid-area: icon;"/>
                    <span style="grid-area: manage;">&#x27A1; Accès	&#x21B4;</span>
                    <span style="grid-area: accept;">️Accorder</span>
                    </span>
                </p>
            </div>
            <div id="top-left-corner"></div>
            <div id="left-bar">
                <div id="actions">
                    <div class="action-btn positioned" id="action-btn-attack">Attack</div>
                    <div class="action-btn positioned" id="action-btn-defend">Defend</div>
                    <div class="action-btn positioned" id="action-btn-grow">Grow</div>
                    <div class="action-btn positioned" id="action-btn-bank">Bank</div>
                </div>
                <div id="players">
                    {% include "core/include_players.html" with players=players %}
                </div>
            </div>
            <div id="grid-area" class="positioned">
                <img id="grid" src="data:image/png;base64,{{ grid_base64 }}" />
            </div>
            <div id="right-bar"></div>
            <div id="bottom-bar"></div>
            <div id="empty-bottom"></div>
        </div>
    <script src="/statics/script.js"></script>
    </body>
</html>
