html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
:root {
    --grid-opacity: 0.75;
    --text-color: #eee;
    --bright-color: #ae15c8;
    --shell-background: #0a0513;
    --shell-shadow: #0a0513cc;
}
body {
    background-color: #11091f;
    font-size: 18px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}
p {
    margin: 0;
}

#main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
}
body#page-index #main-container {
    grid-template-columns:
            calc(450px - 34px) 1fr calc(15% - 50px);
    grid-template-rows:
            68px
            calc(15% - 68px - 34px)
            1fr
            calc(15%  - 34px)
            34px;
    grid-template-areas:
        "empty-top empty-top empty-top"
        "top-left-corner top-bar top-bar"
        "left-bar grid-area right-bar"
        "left-bar bottom-bar bottom-bar"
        "empty-bottom empty-bottom empty-bottom";
}
body#page-players #main-container {
    grid-template-columns: 1fr calc(450px);
    grid-template-rows: 1fr;
    grid-template-areas: "empty left-bar"
}


#empty-top {
    grid-area: empty-top;
    border-bottom: solid 2px var(--bright-color);
}
#empty-bottom {
    grid-area: empty-bottom;
}
#top-bar {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: top-bar;
    background-color: var(--shell-background);
    box-shadow: 0 14px 11px 2px var(--shell-shadow);
    font-size: 32px;
}
#instructions {
    grid-area: instructions;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main-name {
    color: var(--bright-color);
    font-weight: bold;
    font-style: italic;
}
#main-name-later {
  display: inline-block;
  position: relative;
}
#main-name-later:after {
    content: "";
    position: absolute;
    border: 1px solid var(--text-color);
    top: 50%;
    left: -10%;
    right: -10%;
    transform: rotate(-9deg)
}


#top-left-corner {
    grid-area: top-left-corner;
    background-color: var(--shell-background);
    z-index: 1;
}

#left-bar {
    grid-area: left-bar;
    background-color: var(--shell-background);
    display: flex;
    flex-direction: column;
    box-shadow: 14px 0 11px 2px var(--shell-shadow);
    border-right: solid 2px var(--bright-color);
}

#actions {
    display: flex;
    margin: 10px;
    gap: 10px;
    visibility: hidden;
}
.action-btn {
    width: 60px;
    color: #ccc;
    padding: 10px;
    border: 1px solid red;
    text-align: center;
    background-color: #000;
}

#players {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.player {
    display: grid;
    grid-template-columns: 44px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas:
        "rank info"
        "rank extra";
    align-items: center;
    position: relative;
}
.player.cannot-play {
    background-color: #480b0a;
}
.player.is-protected {
    background-color: #0a4b0a;
}

.player-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding-right: 10px;
    grid-area: info;
}

.player-color {
    width: 100px;
    height: 55px;
    background: var(--player-color);
    transform: rotate(90deg) scale(0.4);
    position: absolute;
    left: -28px;
    opacity: var(--grid-opacity);
    grid-area: rank;
}
.player-color:before, .player-color:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.player-color:before {
    top: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid var(--player-color);
}

.player-color:after {
    bottom: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid var(--player-color);
}

.player-rank {
    grid-area: rank;
    text-align: center;
    z-index: 1;
}

.player-name {
    flex-grow: 1;
    text-align: left;
    max-width: 12em;
    overflow: hidden;
}
.player-nb-tiles {
    width: 2.5em;
    flex-grow: 0;
    text-align: right;
}
.player-percent-tiles {
    width: 3.5em;
    flex-grow: 0;
    text-align: right;
}
.player-extra {
    grid-area: extra;
    color: #999;
}


#grid-area {
    grid-area: grid-area;
    padding-left: 30px;
    padding-top: 34px;
    border-top: solid 2px var(--bright-color);
}
#grid-area.debug {
    font-size: 90;
    white-space: pre;
}
#grid {
    opacity: var(--grid-opacity);
}

#right-bar {
    grid-area: right-bar;
    border-top: solid 2px var(--bright-color);
}
#top-bar {
    grid-area: top-bar;
}
#bottom-bar {
    grid-area: bottom-bar;
}
