html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
:root {
    --opacity: 0.75;
    --grid-opacity: 0.5;
    --text-color: #eee;
    --bright-color: #ae15c8;
    --shell-background: #0a0513;
    --shell-shadow: #0a0513cc;
    --coordinates-size: 50px;
}
body {
    background-color: #11091f;
    font-size: 18px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

#main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
}
body#page-index #main-container {
    grid-template-columns:
            414px var(--coordinates-size) 1fr var(--coordinates-size) calc(15% - 50px - var(--coordinates-size) * 2);
    grid-template-rows:
            68px
            114px
            var(--coordinates-size)
            1fr
            var(--coordinates-size)
            100px
            34px;
    grid-template-areas:
        "empty-top       empty-top        empty-top      empty-top         empty-top"
        "top-left-corner top-bar          top-bar        top-bar           top-bar"
        "left-bar        coord-empty-left coord-hor-top  coord-empty-right right-bar"
        "left-bar        coord-ver-left   grid-area      coord-ver-right   right-bar"
        "left-bar        ..               coord-hor-bot  ..                right-bar"
        "left-bar        bottom-bar       bottom-bar     bottom-bar        right-bar"
        ".               .                .              .                 .";
}
body#page-players #main-container {
    grid-template-columns: 1fr calc(450px);
    grid-template-rows: 1fr;
    grid-template-areas: "empty left-bar"
}


#empty-top {
    grid-area: empty-top;
    border-bottom: solid 2px var(--bright-color);
}
#top-bar {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: top-bar;
    background-color: var(--shell-background);
    box-shadow: 0 14px 11px 2px var(--shell-shadow);
    font-size: 32px;
}
#instructions {
    grid-area: instructions;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main-name {
    color: var(--bright-color);
    font-weight: bold;
    font-style: italic;
}
#main-name-later {
  display: inline-block;
  position: relative;
}
#main-name-later:after {
    content: "";
    position: absolute;
    border: 1px solid var(--text-color);
    top: 50%;
    left: -10%;
    right: -10%;
    transform: rotate(-9deg)
}


#top-left-corner {
    grid-area: top-left-corner;
    background-color: var(--shell-background);
    z-index: 1;
}

#left-bar {
    grid-area: left-bar;
    background-color: var(--shell-background);
    display: flex;
    flex-direction: column;
    box-shadow: 14px 0 11px 2px var(--shell-shadow);
    border-right: solid 2px var(--bright-color);
}

#actions {
    display: flex;
    margin: 10px;
    gap: 10px;
    visibility: hidden;
}
.action-btn {
    width: 60px;
    color: #ccc;
    padding: 10px;
    border: 1px solid red;
    text-align: center;
    background-color: #000;
}

#players {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.player {
    display: grid;
    grid-template-columns: 44px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-areas:
        "rank info"
        "rank extra";
    align-items: center;
    position: relative;
}
.player.cannot-play {
    background-color: #480b0a;
}
.player.is-protected {
    background-color: #0a4b0a;
}

.player-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding-right: 10px;
    grid-area: info;
}

.player-color {
    width: 100px;
    height: 55px;
    background: var(--player-color);
    transform: rotate(90deg) scale(0.4);
    position: absolute;
    left: -28px;
    opacity: var(--grid-opacity);
    grid-area: rank;
}
.player-color:before, .player-color:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.player-color:before {
    top: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid var(--player-color);
}

.player-color:after {
    bottom: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid var(--player-color);
}

.player-rank {
    grid-area: rank;
    text-align: center;
    z-index: 1;
}

.player-name {
    flex-grow: 1;
    text-align: left;
    max-width: 12em;
    overflow: hidden;
}
.player-nb-tiles {
    width: 2.5em;
    flex-grow: 0;
    text-align: right;
}
.player-percent-tiles {
    width: 3.5em;
    flex-grow: 0;
    text-align: right;
}
.player-extra {
    grid-area: extra;
    color: #999;
}

.coord-empty, .coord-hor-top {
    border-top: solid 2px var(--bright-color);
}
#coord-empty-left {
    grid-area: coord-empty-left;
}
#coord-empty-right {
    grid-area: coord-empty-right;
}

.coord-hor-top {
    padding-left: calc(0.125 * var(--tile-width));
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    grid-area: coord-hor-top;
}
.coord-hor-bottom {
    padding-left: calc(0.125 * var(--tile-width));
    padding-top: 10px;
    display: flex;
    align-items: start;
    grid-area: coord-hor-bot;
    transform: translateY(calc( -1 * var(--map-margin-bottom) - var(--tile-height) / 2));
}
.coord-hor span {
  width: calc(var(--tile-width) * 0.75);
  display: inline-block;
  text-align: center;
}
.coord-hor span.even {
    transform: translateY(calc(var(--tile-height) / 2));
}
.coord-ver-left {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
    grid-area: coord-ver-left;
}
.coord-ver-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    grid-area: coord-ver-right;
}
.coord-ver span {
    height: var(--tile-height);
    line-height: var(--tile-height);
}
.coord-ver-even {
    opacity: calc(var(--opacity) * 0.75);
}
.coord-ver-even.coord-ver-left {
    transform: translateX(calc(var(--tile-width) * 0.25)) translateY(calc(var(--tile-height) / 2));
}
.coord-ver-even.coord-ver-right {
    transform: translateX(calc(var(--tile-width) * -0.25 - var(--map-margin-right))) translateY(calc(var(--tile-height) / 2));
}
.coord-hor span, .coord-ver span {
    font-size: 24px;
    color: var(--text-color);
    opacity: var(--opacity);
}

#grid-area {
    grid-area: grid-area;
}
#grid-area.debug {
    font-size: 90;
    white-space: pre;
}
#grid {
    opacity: var(--grid-opacity);
}

#right-bar {
    grid-area: right-bar;
    border-top: solid 2px var(--bright-color);
}
#top-bar {
    grid-area: top-bar;
}
#bottom-bar {
    grid-area: bottom-bar;
    display: flex;
    justify-content: center;
    width: calc(var(--map-width) + var(--coordinates-size));
}
#messages-queue { display: none; }
#messages {
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.message {
    border: solid 4px var(--message-color, var(--bright-color));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 11px 2px var(--shell-shadow);
    padding-inline: 5px;
    width: var(--message-width, 25%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(calc( 1px + var(--messages-width, 500%)));
    transition: transform ease-out var(--animation-duration, 1000ms), opacity ease-out var(--animation-duration, 1000ms);
}
.message-removed {
  transform: translateX(-90%) !important;
  opacity: 0 !important;
}
